@import 'abstracts/mixins';
@import 'abstracts/variables';
@import 'base/fonts';
@import 'base/reset';
@import 'components/buttons';
@import 'components/forms';
@import 'components/product-card';
@import 'layouts/header';
@import 'layouts/footer';
@import 'pages/about';
@import 'pages/cart';
@import 'pages/catalog';
@import 'pages/home';
@import 'pages/product-details';