.cart {
    margin-bottom: var(--section-gap);

    &__hero {
        background: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
    url("../../assets/images/cart/cart-banner.png") center/cover no-repeat;
        padding: 86px 0 82px;
        text-align: center;
        margin-bottom: 70px;

         @include respond-max($bp-desktop) {
            padding: 70px 0 60px;
            margin-bottom: 55px;
        }

        @include respond-max($bp-tablet) {
            padding: 60px 0 50px;
            margin-bottom: 45px;
        }

         @include respond-max($bp-mobile) {
            padding: 40px 0 36px;
            margin-bottom: 30px;
        }

        @include respond-max($bp-xs) {
            padding: 28px 0 26px;
            margin-bottom: 20px;
        }
    }

    &__heading {
        font-size: 50px;
        font-weight: 700;
        color: $white;

         @include respond-max($bp-desktop) {
            font-size: 44px;
        }

        @include respond-max($bp-tablet) {
            font-size: 36px;
        }

        @include respond-max($bp-mobile) {
            font-size: 28px;
        }

        @include respond-max($bp-xs) {
            font-size: 24px;
        }
    }

    &__container {
        @include container;

        position: relative;

         @include respond-max($bp-tablet) {
            @include container($max-width: 95%);
        }

        @include respond-max($bp-xs) {
            @include container($max-width: 100%);
        }
    }

    &-table {
        width: 100%;

        @include respond-max($bp-mobile) {
            display: block;
        }

        &__head tr{
            @include flex($justify: space-between);

            background-color: $dark-grey;
            padding: 18px 48px;

            th {
                font-size: 18px;
                font-weight: 700;
                color: $white;
                text-transform: uppercase;

                &:nth-child(2) {
                    width: 20%;
                }
            }

            @include respond-max($bp-tablet) {
                padding: 12px 24px;

                th {
                    font-size: 14px;
                }
            }

            @include respond-max($bp-mobile) {
                display: none;
            }
        }

        tbody {
            display: block;

            tr {
                @include flex($justify: space-between);

                font-size: 17px;
                font-weight: 700;
                line-height: 1.4;
                border-bottom: 2px solid $color-primary;
                padding: 15px 0;
                position: relative;

                @include respond-max($bp-tablet) {
                    padding: 12px 0;
                }

                @include respond-max($bp-mobile) {
                    gap: 8px;
                }
            }

            td  {
                text-align: center;
                width: 10%;

                &:first-child {
                    margin-left: 20px;
                }

                &:last-child {
                    margin-right: 10px;
                }

                &:nth-child(2) {
                    width: 20%;

                    @include respond-max($bp-tablet) {
                        span{
                            display: -webkit-box;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                    }

                    @include respond-max($bp-mobile) {
                        position: absolute;
                        top: 12px;
                        left: 124px;
                        width: fit-content;
                        text-align: left;

                        span {
                            -webkit-line-clamp: 1;
                        }
                    }

                    @include respond-max($bp-xs) {
                        left: 22%;
                    }
                }

                img {
                    width: 120px;
                    height: 120px;
                    object-fit: cover;
                }

                @include respond-max($bp-tablet) {
                    img{
                        width: 90px;
                        height: 90px;
                    }
                }

                @include respond-max($bp-mobile) {
                    width: 20%;
                    text-align: center;
                    margin: 0;
                    margin-bottom: -15px;

                    &:first-child,
                    &:last-child {
                        margin: 0;
                    }

                    img {
                        width: 100px;
                        height: 100px;
                    }
                }

                 @include respond-max($bp-xs) {
                    font-size: 14px;

                    img {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }

    .cart-qty {
        @include flex($gap: 22px);

        @include respond-max($bp-mobile) {
            gap: 16px;
        }

        @include respond-max($bp-xs) {
            gap: 14px;
        }

        &__btn {
            font-size: 32px;
            cursor: pointer;

            @include respond-max($bp-mobile) {
                font-size: 28px;
            }

            @include respond-max($bp-xs) {
                font-size: 22px;
            }
        }

        &__value {
            font-weight: 700;
            font-size: 22px;

             @include respond-max($bp-mobile) {
                font-size: 20px;
            }

            @include respond-max($bp-xs) {
                font-size: 16px;
            }
        }
}

    .cart-remove {
        position: relative;
        transition: 0.2s;

        &:hover {
            opacity: 0.7;
        }

        &::before {
            content: "";
            position: absolute;
            top: -18px;
            right: -6px;
            width: 20px;
            height: 22px;
            background-image:  url("../../assets/images/icons/trash-icon.svg");
            background-repeat: no-repeat;
        }

        @include respond-max($bp-mobile) {
            &::before {
                top: -10px;
                right: 0;
            }
        }

        @include respond-max($bp-xs) {
            &::before {
                top: -8px;
                right: -6px;
                width: 18px;
                height: 20px;
                background-size: 17px;
            }
        }
    }

    .cart__message {
        font-size: 18px;
        padding: 20px 0 20px 40px;
        border-bottom: 2px solid $color-primary;

        @include respond-max($bp-mobile) {
            padding-left: 0;
            font-size: 16px;
        }

        @include respond-max($bp-xs) {
            font-size: 14px;
        }
    }

    &__bottom-block {
        @include flex($justify: space-between, $align: flex-start);

        margin-top: 70px;

        @include respond-max($bp-tablet) {
            @include flex($align: flex-start, $direction: column);

            margin-top: 20px;
        }
    }

    .cart__actions {
        @include flex($justify: flex-start, $gap: 20px);

        @include respond-max($bp-xs) {
            width: 100%;

            @include flex($direction: column-reverse, $gap: 15px);
        }

        .cart__button {
            padding: 20px 24px;
            font-size: 15px;
            text-transform: uppercase;

            @include respond-max($bp-xs) {
                padding: 14px;
                font-size: 13px;
                width: 100%;
            }

            &:hover {
                background: #a71e59;
            }
        }
    }

    &-summary {
        width: 45%;
        margin-top: 10px;
        padding: 42px 46px;
        background-color: $dark-grey;

        @include respond-max($bp-desktop) {
            width: 50%;
            padding: 36px 38px;
        }

        @include respond-max($bp-tablet) {
            width: 100%;
            margin-top: 30px;
        }

        @include respond-max($bp-mobile) {
            padding: 24px 20px;
        }

        @include respond-max($bp-xs) {
            padding: 18px;
        }

        &__row {
            @include flex($justify: space-between);

            padding: 18px 0;
            border-bottom: 1px solid #ca2d71;
            font-size: 17px;
            font-weight: 700;
            color: $white;

            &--total {
                border-bottom: none;
                margin-bottom: 24px;

                dt,
                dd {
                    font-size: 20px;
                }
            }

            @include respond-max($bp-xs) {
                font-size: 16px;

                &--total {
                    margin-bottom: 16px;

                    dt,
                    dd {
                        font-size: 18px;
                    }
                }
            }
        }

        &__button {
            padding: 10px 60px;
            text-transform: uppercase;
            
            @include respond-max($bp-tablet) {
                padding: 14px 60px;
            }

            @include respond-max($bp-xs) {
                width: 80%;
                font-size: 14px;

                @include flex;

                margin: 0 auto;
            }
        }
    }

    &--empty {
        .cart__container {
            display: flex;
            justify-content: center;
        }

        .cart__block {
            width: 100%;
            max-width: 600px;
        }

        .cart-table,
        .cart__bottom-block {
            display: none;
        }

        .cart__message {
            text-align: center;
            padding: 60px 20px 0;
            font-size: 20px;
            border-bottom: none;
        }
    }
}