.hero {
    position: relative;
    overflow: hidden;
    padding: 80px 0 120px;

    @include respond-max($bp-tablet) {
        padding: 60px 0 100px;
    }

    @include respond-max($bp-mobile) {
        padding: 50px 0 80px;
    }

    @include respond-max($bp-xs) {
        padding: 40px 0 60px;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 55%;
        background-color: $hero-grey;
        z-index: 0;

        @include respond-max($bp-mobile) {
            height: 65%;
        }

        @include respond-max($bp-xs) {
            height: 70%;
        }
    }

    > * {
        position: relative;
        z-index: 1;
    }

    &__top-container {
        @include container;
        @include flex($justify: space-between, $gap: 30px);

        @include respond-max($bp-tablet) {
            @include flex($justify: space-between, $gap: 24px);

            margin-bottom: 25px;
        }

        @include respond-max($bp-mobile) {
            @include flex($direction: column-reverse, $gap: 18px);

            text-align: center;
            margin-bottom: 35px;
        }
    }

    &__block {
        max-width: 50%;

        @include respond-max($bp-tablet) {
            max-width: 55%;
        }

        @include respond-max($bp-mobile) {
            max-width: 100%;
        }

        h1 {
            font-size: 50px;
            font-weight: 900;
            color: $black;
            margin-bottom: 30px;
            max-width: 80%;

            @include respond-max($bp-tablet) {
                font-size: 38px;
                max-width: 94%;
            }

            @include respond-max($bp-mobile) {
                font-size: 30px;
                max-height: 100%;
                margin-bottom: 15px;
            }

            @include respond-max($bp-xs) {
                font-size: 28px;
            }
        }

        p {
            @include sub-heading($margin-bottom: 30px);

            @include respond-max($bp-tablet) {
                @include sub-heading($size: 16px, $margin-bottom: 26px);
            }

            @include respond-max($bp-xs) {
                @include sub-heading($size: 15px, $margin-bottom: 22px);
            }
        }
    }

    &__image {
        img {
            width: 100%;
            height: auto;
        }

        @include respond-max($bp-tablet) {
            max-width: 45%;
        }

        @include respond-max($bp-mobile) {
            max-width: 70%;
            margin: 0 auto;
        }

        @include respond-max($bp-xs) {
            max-width: 90%;
        }
    }

    &__button-link {
        display: block;
        width: fit-content;
        height: 100%;

        @include respond-max($bp-mobile) {
            margin: 0 auto;
        }
    }

    &__button {
        padding: 18px;

        @include respond-max($bp-tablet) {
            font-size: 16px;
            padding: 14px;
        }
    }

    &__bottom-container {
        @include container($padding: 0);

        box-shadow: 0 20px 80px 0 #C1C7D4B3;
        background-color: $white;

        @include flex($align: stretch);

        @include respond-max($bp-tablet) {
            @include container($max-width: 95%, $padding: 0);
        }

        @include respond-max($bp-mobile) {
            @include flex($direction: column);
        }

        .personal-card {
            padding: 80px 90px 88px 70px;
            max-width: 50%;

            @include respond-max($bp-tablet) {
                padding: 30px;
            }

            @include respond-max($bp-mobile) {
                max-width: 100%;
                padding: 32px 24px;
            }

            &__personal-info {
                @include flex($justify: flex-start, $gap: 22px);

                margin-bottom: 28px;

                img {
                    @include respond-max($bp-tablet) { 
                        height: 86px;
                        width: auto;
                    }

                    @include respond-max($bp-xs) {
                        height: 80px;
                    }
                }
            }

            &__name {
                font-size: 20px;
                font-weight: 700;

                @include respond-max($bp-tablet) {
                    font-size: 18px;
                }
            }

            &__role {
                font-size: 17px;
                font-weight: 400;

                @include respond-max($bp-tablet) {
                    font-size: 16px;
                }
            }

            &__title {
                @include heading($margin-bottom: 30px);

                max-width: 80%;

                @include respond-max($bp-tablet) {
                    max-width: 100%;
                }

                @include respond-max($bp-xs) {
                    text-align: center;
                }
            }

            > p {
                @include sub-heading($margin-bottom: 0);

                &:last-child {
                    margin-top: 30px;

                    @include respond-max($bp-tablet) {
                        margin-top: 25px;
                    }
                }
            }
        }

        .promo-card {
            position: relative;
            overflow: hidden;
            background-image: url("/src/assets/images/home/promo-card-bg.png");
            background-size: cover;
            background-position: center;
            max-width: 50%;
            padding: 40px 50px;

            @include flex($align: flex-start, $direction: column);

            @include respond-max($bp-tablet) {
                padding: 30px;
            }

            @include respond-max($bp-mobile) {
                max-width: 100%;
                padding: 80px 24px;

                @include flex($direction: column);
            }

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background: linear-gradient(135deg, rgb(0 0 0 / 28%), rgb(0 0 0 / 20%));
            }

            &__title,
            /* stylelint-disable-next-line no-descending-specificity */
            p,
            &__button {
                z-index: 1;
            }

            &__title {
                @include heading($color: $white, $margin-bottom: 30px);

                @include respond-max($bp-xs) {
                    line-height: 1;
                }
            }

            /* stylelint-disable-next-line no-descending-specificity */
            p {
                @include sub-heading($color: $white, $margin-bottom: 30px);

                max-width: 80%;

                @include respond-max($bp-tablet) {
                    text-align: center;
                    max-width: 100%;
                }
            }

            &__button {
                padding: 18px 24px 20px;

                @include respond-max($bp-tablet) {
                    padding: 14px 24px 16px;
                }

                @include respond-max($bp-xs) {
                    font-size: 16px;
                }
            }
        }
    }
}

.travel-suitcases {
    @include container;

    text-align: center;
    margin-bottom: var(--section-gap);

    &__title {
        @include heading;
    }

    > p {
        @include sub-heading;
    }

    .travel-carousel {
        position: relative;

        &__container {
            overflow: hidden;
            width: 100%;
            padding-bottom: 20px;
        }

        &__track {
            @include flex($justify: flex-start, $gap: 38px);

            will-change: transform;

            @include respond-max($bp-tablet) {
                @include flex($justify: flex-start, $gap: 28px);
            }

            @include respond-max($bp-mobile) {
                @include flex($justify: flex-start, $gap: 18px);
            }
        }

        &__slide {
            flex: 0 0 calc((100% - 3 * 38px) / 4);
            transition: transform 0.4s ease;
            flex-shrink: 0;

            &.is-active {
                opacity: 1;
            }

            @include respond-max($bp-tablet) {
                flex: 0 0 calc((100% - 2 * 28px) / 3);
            }

            @include respond-max($bp-mobile) {
                flex: 0 0 calc((100% - 1 * 18px) / 2);
            }

            @include respond-max($bp-xs) {
                flex: 0 0 100%;
            }
        }

        .suitcase-card {
            position: relative;
            overflow: hidden;
            transition: transform 0.4s ease, box-shadow 0.4s ease;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background: rgb(0 0 0 / 40%);
                z-index: 2;
            }

            &:hover {
                transform: translateY(-5px) scale(1.01);
                box-shadow: 0 10px 16px rgb(0 0 0 / 40%);
            }

            &__media {
                position: relative;
                display: block;
                width: 100%;
                overflow: hidden;

                @include respond-max($bp-mobile) {
                    aspect-ratio: 2 / 3;
                }
            }

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            &__block {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                color: $white;
                text-align: left;
                z-index: 3;
                padding: 0 0 44px 40px;

                @include respond-max($bp-tablet) {
                    padding: 0 0 30px 26px;
                }
            }

            &__title {
                font-size: 19px;
                font-weight: 700;
                color: $white;
                margin-bottom: 20px;
                width: 80%;

                @include respond-max($bp-tablet) {
                    font-size: 18px;
                    margin-bottom: 16px;
                    width: 90%;
                }

                @include respond-max($bp-xs) {
                    font-size: 20px;
                }
            }

            &__text {
                font-size: 19px;
                color: $white;
                width: 80%;
                line-height: 1.5;

                @include respond-max($bp-tablet) {
                    font-size: 18px;
                    width: 90%;
                    line-height: 1.4;
                }

                @include respond-max($bp-xs) {
                    font-size: 20px;
                }
            }
        }
    }
}

.carousel-js {
    overflow: hidden;
}


.products-block {
    @include container;

    text-align: center;
    margin-bottom: var(--section-gap);

    &__title {
        @include heading;

    }

    &__text {
        @include sub-heading;
    }
}

.offer-banner {
    background: linear-gradient(rgb(0 0 0 / 40%), rgb(0 0 0 / 40%)),
    url("/src/assets/images/home/offer-banner.png") center/cover no-repeat;

    @include container;

    box-shadow: 0 20px 80px 0 rgb(193 199 212 / 70%);
    padding: 40px 20px 85px;
    color: $white;
    margin-bottom: var(--section-gap);

    &__container {
        @include flex($justify: space-between);

        @include respond-max($bp-tablet) {
            @include flex($direction: column, $align: center);

            text-align: center;
            gap: 40px;
        }
    }

    &__discount {
        width: 45%;
        margin: 0 auto;

        @include respond-max($bp-tablet) {
            width: 100%;
            margin: 0;
        }
    }

    &__value {
        font-size: 223px;
        font-weight: 900;
        line-height: 1.1;

        @include respond-max($bp-tablet) {
            font-size: 160px;
        }

        @include respond-max($bp-mobile) {
            font-size: 120px;
        }

        @include respond-max($bp-xs) {
            font-size: 90px;
        }
    }

    &__text{
        font-size: 20px;

        @include respond-max($bp-mobile) {
            font-size: 18px;
        }

        @include respond-max($bp-xs) {
            font-size: 16px;
        }
    }

    &__content {
        width: 40%;
        text-align: left;

        @include respond-max($bp-tablet) {
            width: 100%;
            text-align: center;
        }
    }

    &__title {
        font-size: 40px;
        font-weight: 900;
        margin-bottom: 30px;

        @include respond-max($bp-mobile) {
            font-size: 32px;
        }

        @include respond-max($bp-xs) {
            font-size: 28px;
        }
    }

    &__description {
        font-size: 17px;
        margin-bottom: 30px;
        max-width: 80%;

        @include respond-max($bp-tablet) {
            max-width: 100%;
        }

        @include respond-max($bp-mobile) {
            font-size: 16px;
        }

        @include respond-max($bp-xs) {
            font-size: 15px;
        }
    }

    &__button {
        padding: 18px 26px;

        @include respond-max($bp-mobile) {
            padding: 14px 22px;
            font-size: 16px;
        }
    }
}

.reviews {
    @include container;

    text-align: center;
    padding-bottom: 120px;

    @include respond-max($bp-tablet) {
        padding-bottom: 100px;
    }

    @include respond-max($bp-mobile) {
        padding-bottom: 80px;
    }

    @include respond-max($bp-xs) {
        padding-bottom: 60px;
    }

    &__title {
        @include heading;
    }

    &__sub-title {
        @include sub-heading;
        
    }

    &__block {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 2rem;
        justify-items: center;

         @include respond-max($bp-tablet) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include respond-max($bp-mobile) {
            grid-template-columns: 1fr;
            gap: 24px;
        }
    }

    .review {
        box-shadow: 0 20px 80px 0 rgb(193 199 212 / 70%);
        padding: 44px 40px;
        transition: transform 0.25s ease, box-shadow 0.25s ease;

        @include flex($wrap: wrap, $gap: 25px);

        @include respond-max($bp-tablet) {
            padding: 36px 30px;
        }

        @include respond-max($bp-mobile) {
            @include flex($direction: column, $align: center);

            text-align: center;
            padding: 30px 24px;
            box-shadow: 0 20px 80px 0 rgb(193 199 212 / 40%);
        }

        @include respond-max($bp-xs) {
            padding: 24px 20px;
        }

        &__photo {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            object-fit: cover;
            flex-shrink: 0;

            @include respond-max($bp-mobile) {
                margin-bottom: 10px;
            }
        }

        &__text {
            font-size: 17px;

            @include respond-max($bp-mobile) {
                font-size: 16px;
            }

            @include respond-max($bp-xs) {
                font-size: 15px;
            }
        }

        &__reviewer {
            font-size: 17px;
            font-weight: 700;
            color: $color-primary;

            @include respond-max($bp-mobile) {
                font-size: 16px;
            }
        }
    }
}

.login-modal {
    position: fixed;
    inset: 0;
    z-index: 2000;

    @include flex;

    &[hidden] {
        display: none;
    }

    &__overlay {
        position: absolute;
        inset: 0;
        background: rgb(0 0 0 / 40%);
    }

    &__block {
        position: relative;
        z-index: 10;
        width: 100%;
        max-width: 480px;
        margin: 130px auto;
        padding: 61px 70px 50px;
        background: $white;

        @include respond-max($bp-tablet) {
            padding: 40px 45px;
            margin: 80px auto;
        }

        @include respond-max($bp-mobile) {
            margin: 50px auto;
            padding: 32px 30px;
        }

        @include respond-max($bp-xs) {
            margin: 20px auto;
            padding: 25px 22px;
            max-width: 90%;
        }
    }

    &__close {
        position: absolute;
        right: 20px;
        top: 0;
        background: none;
        border: none;
        font-size: 38px;
        cursor: pointer;

        @include respond-max($bp-mobile) {
            font-size: 28px;
            right: 15px;
            top: 5px;
        }
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}