.primary-button {
    background-color: $color-primary;
    color: $white;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    cursor: pointer;
    width: fit-content;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.04);
    }

    &:active {
        transform: scale(0.9);
        filter: brightness(0.9)
    }

    &:focus-visible {
        outline: 2px solid $color-primary;
        outline-offset: 2px;
    }
}