.form {
    &__field {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 12px;

        @include respond-max($bp-tablet) {
            margin-bottom: 10px;
        }

        @include respond-max($bp-mobile) {
            margin-bottom: 8px;
        }

        @include respond-max($bp-xs) {
            margin-bottom: 6px;
        }
    }

    &__label {
        margin-bottom: 8px;
        font-size: 14px;

        span {
            color: $color-primary;
        }
    }

    &__textarea {
        resize: vertical;
    }

    &__input,
    &__textarea {
        width: 100%;
        border: 2px solid $color-primary;
        padding: 10px;
        font-size: 1rem;
        transition: box-shadow 0.3s, border-color 0.3s;

        @include respond-max($bp-tablet) {
            padding: 9px;
        }

        @include respond-max($bp-mobile) {
            padding: 8px;
        }

        @include respond-max($bp-xs) {
            padding: 7px;
            font-size: 0.95rem;
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgb(176 19 99 / 15%);
        }

        &.form__input--invalid {
            border-color: $warning-red;
        }
    }

    &__error {
        color: $warning-red;
        font-size: 12px;
        margin-top: 3px;
        min-height: 25px;
    }

    &__submit {
        width: 100%;
        padding: 12px 24px;
        cursor: pointer;
        text-transform: uppercase;
    }
}


.feedback {
    margin-bottom: var(--section-gap);

    @include respond-max($bp-mobile) {
        padding-top: 25px;
    }

    &__container {
        @include container;

        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;

        @include respond-max($bp-tablet) {
            grid-template-columns: 1fr;
            row-gap: 40px;
            align-items: stretch;
        }

        @include respond-max($bp-mobile) {
            row-gap: 32px;
        }

        @include respond-max($bp-xs) {
            row-gap: 26px;
        }
    }

    &__image {
        margin-right: 40px;

        @include respond-max($bp-tablet) {
            display: none;
        }

        img {
            width: 100%;
            height: auto;
            max-height: 850px;
            object-fit: cover;
            box-shadow: 0 20px 80px 0 #C1C7D44D;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;

        @include respond-max($bp-tablet) {
            max-width: 100%;
            width: 85%;
            margin: 0 auto;
            text-align: center;
        }

        @include respond-max($bp-xs) {
            width: 95%;
        }
    }

    &__title {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 34px;

        @include respond-max($bp-tablet) {
            font-size: 23px;
            margin-bottom: 28px;
        }

        @include respond-max($bp-mobile) {
            font-size: 22px;
            margin-bottom: 24px;
        }

        @include respond-max($bp-xs) {
            margin-bottom: 20px;
        }
    }

    &__subtitle {
        font-size: 17px;
        margin-bottom: 70px;

        @include respond-max($bp-tablet) {
            margin-bottom: 50px;
        }

        @include respond-max($bp-mobile) {
            margin-bottom: 40px;
            font-size: 16px;
        }

        @include respond-max($bp-xs) {
            margin-bottom: 30px;
            font-size: 15px;
        }
    }

    &__form {
        @include flex($align: flex-start, $direction: column);

        position: relative;
        text-align: start;

        @include respond-max($bp-mobile) {
            gap: 6px;
        }

        @include respond-max($bp-xs) {
            gap: 4px;
        }
    }

    &__field {
        &:first-child,
        &:nth-child(2) {
            margin-bottom: 14px;
        }

        @include respond-max($bp-tablet) {
            &:first-child,
            &:nth-child(2) {
                margin-bottom: 12px;
            }
        }
    }

    &__label {
        font-size: 18px;
        font-weight: 700;

        @include respond-max($bp-tablet) {
            font-size: 17px;
            margin-bottom: 7px;
        }

        @include respond-max($bp-mobile) {
            font-size: 16px;
            margin-bottom: 6px;
        }

        @include respond-max($bp-xs) {
            font-size: 15px;
            margin-bottom: 5px;
        }
    }

    &__textarea {
        min-height: 130px;

        @include respond-max($bp-mobile) {
            min-height: 110px;
        }

        @include respond-max($bp-xs) {
            min-height: 100px;
        }
    }

    &__error {
        font-size: 14px;
        visibility: hidden;

        @include respond-max($bp-tablet) {
            font-size: 13px;
            min-height: 22px;
        }

        @include respond-max($bp-xs) {
            font-size: 12px;
            min-height: 20px;
        }

        &.visible {
            visibility: visible;
        }
    }

    &__submit {
        padding: 13px 30px;
        cursor: pointer;
        margin-top: 10px;
        width: fit-content;

        @include respond-max($bp-tablet) {
            margin-top: 12px;
        }

        @include respond-max($bp-mobile) {
            margin-top: 14px;
        }

        @include respond-max($bp-xs) {
            width: 100%;
            text-align: center;
            padding: 12px 24px;
        }
    }

    &__status {
        position: absolute;
        font-size: 15px;
        bottom: 15px;
        left: 122px;

        @include respond-max($bp-tablet) {
            font-size: 14px;
        }

        @include respond-max($bp-xs) {
            display: none;
        }

        &--success {
            color: $success-green;
        }

        &--error {
            color: $warning-red;
        }
    }
}

.login-form {
    &__label {
        display: block;
    }

    &__password-container {
        position: relative;
    }

    &__toggle-pass {
        position: absolute;
        right: 12px;
        top: 32%;
        background: url("../../assets/images/icons/eye-icon.svg") no-repeat center;
        background-size: 22px;
        width: 24px;
        height: 18px;
        border: none;
        cursor: pointer;

        @include respond-max($bp-xs) {
            top: 28%;
        }
    }

    &__options {
        @include flex($justify: space-between);

        margin-bottom: 32px;
        font-size: 10px;
    }

    &__checkbox {
        @include flex($gap: 7px);

        color: $grey;
        position: relative;
    }

    &__checkbox-input {
        position: absolute;
        opacity: 0;
        left: 3px;
    }

    &__checkbox-box {
        width: 18px;
        height: 18px;
        border: 2px solid #c0c0c0;
        border-radius: 2px;
        box-sizing: border-box;
        position: relative;
    }

    .login-form__checkbox-input:checked + .login-form__checkbox-box::after {
        content: "";
        position: absolute;
        left: 4px;
        top: 0;
        width: 6px;
        height: 11px;
        border-right: 2px solid $color-primary;
        border-bottom: 2px solid $color-primary;
        transform: rotate(45deg);
    }

    &__forgot-pass {
        color: $color-primary;
    }

    &__submit {
        font-size: 12px;
    }
}