@font-face {
  font-display: swap; 
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/montserrat-v31-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: url('../../assets/fonts/montserrat-v31-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: url('../../assets/fonts/montserrat-v31-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/montserrat-v31-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  src: url('../../assets/fonts/montserrat-v31-latin-900.woff2') format('woff2');
}