*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    text-size-adjust: 100%;
}

body {
    line-height: 1.8;
    font-family: Montserrat, sans-serif;
    background-color: $white;
    color: $black;
    min-height: 100vh;
    text-rendering: optimizelegibility;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

img,
picture,
video,
canvas {
    max-width: 100%;
    display: block;
}

button,
input,
textarea,
select {
    font: inherit;
    background: none;
    border: none;
    outline: none;
}

button:disabled {
    cursor: not-allowed;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.5;
}